#tsc {
  /* margin-top: -30rem; */
}

#dsk-vid {
  width: 100%;
}
.ate-h1 {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 130%;
  transform: translate(-50%, -50%);
  font-family: "Visby-bold";
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 5rem;
}

.ate-h1:hover {
  color: #cb1f1fa7;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 100%;
}

#sunlight {
  padding-top: 50rem;
}
.sub-text {
  margin-top: 2px;
  font-size: 1.3rem;
  font-family: "Visby-Reg";
  letter-spacing: 2px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-transform: none;
}

#at-vid {
  width: 100%;
}

#tsc-vid {
  width: 100%;
  padding: 2rem 0 2rem 0;
}

.sm-header {
  /* color: #d72638; */
  font-family: "Visby-Bold";
  letter-spacing: -3px;
  text-transform: uppercase;
  font-size: 4.5rem;
  text-align: left;
  margin-top: 5rem;
  padding: 2rem;
}

.txt-dash {
  background-color: #d72638cc;
  width: 250px;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  left: 33%;
  margin-top: 1rem;
}

#pro-ul-main {
  margin-left: 0rem;
}

.dev-profile {
  padding-top: 13rem;
  background-color: #1e1e1e;
  height: 90vh;
  color: white;
  font-family: "Visby-Reg";
  padding-left: 3rem;
}

.dev-title {
  line-height: 50px;
  letter-spacing: -2px;
  font-size: 4.2rem;
  font-family: "Visby-Bold";
  color: #ffffffec;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 3rem;
}

.rachel {
  background-color: #d72638cc;
  color: #ffffff;
  font-size: 4.5rem;
  width: fit-content;

  /* text-decoration: underline solid 20px #d72638; */
}

.hp-ul {
  padding-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.mobile-vid {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ate-h1 {
    line-height: 55px;
    width: 75%;
    position: absolute;
    top: 179%;
    left: 50%;
    font-size: 3.5rem;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .txt-dash {
    background-color: #d72638f4;
    width: 90px;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    left: 33%;
    margin-top: 1rem;
  }
  .atelier-vid {
    display: none;
  }

  #at-vid {
    display: block;
    width: 100%;
  }

  .sm-header {
    font-family: "Visby-Bold";
    letter-spacing: -3px;
    text-transform: uppercase;
    font-size: 2.5rem;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    margin-top: 0rem;
    padding: 2rem;
  }

  .hp-ul {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .dev-profile {
    padding-top: 2rem;
    margin-top: -2rem;
    background-color: #1e1e1e;
    height: 100vh;
    color: white;
    font-family: "Visby-Reg";
    padding-left: 3rem;
  }

  .rachel {
    font-size: 5rem;
    width: fit-content;
  }

  .dev-title {
    line-height: 50px;
    letter-spacing: -2px;
    font-size: 4.2rem;
    font-family: "Visby-Bold";
    color: #ffffffec;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 3rem;
  }
  .connect-subtxt {
    font-size: 2rem;
    padding-top: 2rem;
    font-family: "visby-reg";
    line-height: 0;
    letter-spacing: 0px;
  }
}

@media only screen and (min-width: 410px) {
  .ate-h1 {
    /* position: absolute;
    top: 125%;
    left: 50%;
    width: 90%; */
  }
}

@media only screen and (min-width: 360px) {
  .ate-h1 {
    margin-top: 2.5rem;
    position: absolute;
    top: 130%;
    left: 50%;
    line-height: 50px;
    width: 100%;
    font-size: 2rem;
  }
  .dev-title {
    font-size: 2.5rem;
    line-height: 45px;
    letter-spacing: -2px;
    padding-left: 0;
  }

  .rachel {
    font-size: 4rem;
    padding: 0.3rem;
    margin-bottom: 10px;
  }
  .dev-profile {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 960px) {
  .ate-h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 3rem;
    line-height: 80px;
    width: 90%;
  }

  .li-title {
    font-size: 3rem;
    font-family: "Visby-Bold";
    line-height: 35px;
  }
}
/* 
@media screen and (min-width: 320px), (max-width: 480px) {
  .mobile-vid {
    display: block;
    width: 100%;
  }

  .dsk-vid {
    display: none;
  }

  #sunlight {
    padding: 0;
  }
  

  .txt-dash {
    width: 280px;
  }

  .sm-header {
    font-size: 3rem;
    padding-left: 2.5rem;
  }

  .title,
  .sub-title {
    font-size: 1rem;
    text-align: center;
  }

  #tsc-vid {
    padding: 2rem 0 2rem 0;
  }

  .dash {
    background-color: #d72638;
    width: 50px;
    padding: 5px;
    margin-top: 0px;
    text-transform: uppercase;
    display: flex;
    margin-left: 40%;
    letter-spacing: 3px;
    font-size: 0.7rem;
  }

  .two-col {
    display: flex;
    flex-direction: column;
  }

  .pro-ul {
    position: relative;
    bottom: 8rem;
    z-index: 99;
    padding: 2rem;
  }

  .dev-title {
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: -2px;
    padding-left: 0;
  }
  .rachel {
    font-size: 4rem;
    padding: 0.3rem;
    margin-bottom: 20px;
  }
  .dev-profile {
    margin-top: -5rem;
  }
} */
