#tsc {
  margin-top: -30rem;
}

.ate-h1 {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.5rem;
  font-family: "Visby-BOLD";
  letter-spacing: 9px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-top: 15rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ate-h1:hover {
  color: #cb1f1fa7;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 100%;
}

#sunlight {
  padding-top: 50rem;
}
.sub-text {
  margin-top: 2px;
  font-size: 1.3rem;
  font-family: "Visby-Reg";
  letter-spacing: 2px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-transform: none;
}

.title,
.dev-profile {
  font-family: "Visby-Bold";
  font-size: 6rem;
  padding: 0px;
  color: rgb(32, 31, 31);
  text-align: left;
  margin-top: 6rem;
}

.sub-title {
  font-family: "Visby-Reg";
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5rem;
}

.caption {
  padding: 30px;
  margin-top: -10px;
  margin-bottom: 5rem;
  color: whitesmoke;
}

#at-vid {
  width: 100%;
}

#tsc-vid {
  width: 100%;
  padding: 9rem 0 8rem 0;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -9rem;
}

.sm-header {
  color: #d72638;
  font-family: "Visby-Bold";
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  margin-top: 5rem;
  padding: 1rem;
}

.dash {
  background-color: #d72638;
  width: 150px;
  border-radius: 0px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-family: "visby-bold";
  border: none;
}

.dash:hover {
  cursor: pointer;
  background-color: #d72638cd;
}

.txt-dash {
  background-color: #d72638cc;
  width: 250px;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  left: 33%;
  margin-top: 1rem;
}

#pro-ul-main {
  margin-left: 0rem;
}

.dev-profile {
  background-color: #1e1e1e;
  height: 90vh;
  color: white;
  font-family: "Visby-Reg";
  padding-left: 3rem;
}

.dev-title {
  line-height: 50px;
  letter-spacing: -2px;
  font-size: 4.2rem;
  font-family: "Visby-Bold";
  color: #ffffffec;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 3rem;
}

.rachel {
  background-color: #d72638cc;
  color: #ffffff;
  font-size: 4.5rem;
  width: fit-content;

  /* text-decoration: underline solid 20px #d72638; */
}

.hp-ul {
  padding-top: 30px;
  list-style: none;
  display: flex;
  gap: 10px;
}
