.btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.btn:hover,
.dropdown-menu:hover {
  background-color: rgb(38, 38, 38);
}

.dropdown-menu {
  background-color: rgb(34, 31, 31);
  color: whitesmoke;
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Visby-Reg";

  text-align: center;
}

.dropdown-item {
  color: whitesmoke;
}

.dropdown-item:hover {
  background-color: rgba(64, 63, 63, 0.458);
}
.nav-container {
  background-color: rgb(34, 31, 31);
  display: flex;
  width: 100%;
  transition: 10s ease;
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
  justify-content: center;
  gap: 20px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#hero-vid {
  display: block;
  width: 100%;
  margin: 0;
  transition: 3s ease;
}

#showNav {
  display: none;
}
.logo {
  width: 150px;
  display: flex;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-ul {
  list-style: none;
}
