.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* transition: 10s ease; */
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
  justify-content: center;
  /* padding-top: 50px; */
}

#hero-vid {
  display: block;
  width: 100%;
  margin: 0;
  transition: 3s ease;
}
.logo {
  width: 2rem;
}

.logo:hover {
  width: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
}

.nav-links {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 10rem; */
  z-index: 99;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 1rem;
  color: rgb(230, 217, 217);
  font-family: "Visby-Reg";
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 800;
}

li:hover {
  color: #cb1f1f;
  cursor: pointer;
}

.navbar {
  display: none;
}
