.btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.btn:hover,
.dropdown-menu:hover {
  background-color: rgb(255, 255, 255);
}

.dropdown-menu {
  background-color: #ffffff;
  color: rgb(22, 22, 22);
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Visby-Reg";

  text-align: center;
}

.dropdown-item {
  color: rgb(238, 238, 238);
}

.dropdown-item:hover {
  background-color: rgba(56, 56, 56, 0.458);
}
.nav-container {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(25, 24, 24); */
  display: flex;
  width: 100%;
  transition: 10s ease;
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
  justify-content: center;
  gap: 10px;
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#hero-vid {
  display: block;
  width: 100%;
  margin: 0;
  transition: 3s ease;
}

#showNav {
  display: none;
}
.logo {
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-ul {
  list-style: none;
}
