.pro-title {
  font-family: "Visby-Bold";
  font-size: 5.5rem;
  padding: 3rem;
  margin-top: 8rem;
  color: rgb(39, 38, 37);
}

.pro-col-1 {
  position: fixed;
  height: 100vh;
  /* background-color: rgb(38, 36, 37); */
  color: rgb(40, 38, 38);
  left: 0;
  top: 0;
  margin-top: 5rem;
}
.pro-col-2 {
  padding-top: 11rem;
  width: 70%;
  margin-left: 28%;
  list-style: none;
}

#pro-vid {
  width: 85%;
  margin-left: 10rem;
  padding-top: 25px;
  list-style: none;
}

.pro-ul {
  width: 85%;
  margin-left: 8.5rem;
  padding-top: 25px;
  list-style: none;
  font-family: "Visby-Reg";
  font-size: 1.2rem;
}

.pro-cards {
}
