.pro-title {
  font-family: "Visby-Bold";
  font-size: 5.5rem;
  padding: 3rem;
  margin-top: 8rem;
  color: rgb(39, 38, 37);
}

.pro-cards {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

#pro-vid {
  width: 85%;
  margin-left: 10rem;
  padding-top: 25px;
  list-style: none;
}

.pro-ul {
  width: 85%;
  margin-top: 6rem;
  padding-left: 5rem;
  list-style: none;
  font-family: "Visby-Reg";
  border-left: 10px solid #232323;
}

.li-title {
  font-size: 3.5rem;
  font-family: "Visby-Bold";
}

.li-sub-title {
  font-family: "Visby-Reg";
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5rem;
}

.dash {
  /* background-color: #181818;
  width: 290px;
  border-radius: 1px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 20px;
  border: none; */
}

.dash:hover {
  cursor: pointer;
  background-color: #d72638cd;
}

.pro-btn {
  background-color: #d72638;
  width: 130px;
  border-radius: 0px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 20px;
  border: none;
  color: whitesmoke;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .pro-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #pro-vid {
    width: 100%;
    margin-top: -4rem;
    margin-left: 0rem;
    list-style: none;
  }

  .pro-ul {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    list-style: none;
    font-family: "Visby-Reg";
    border-left: 0px solid #232323;
    text-align: center;
  }

  .pro-title {
    font-family: "Visby-Bold";
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
    margin-top: 8rem;
    color: rgb(39, 38, 37);
    line-height: -2px;
  }

  .pro-btn {
    width: 80%;
    border-radius: 5px;
    background-color: #191919;
    margin-left: 0px;
    margin-top: 20px;
  }

  .pro-btn:hover {
    background-color: #e32f2f;
  }
}
