#video-hpg {
  width: 100%;
  margin: 0;
}

.media-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: "Visby-Reg";
  letter-spacing: 39px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.media-h1:hover {
  color: #9f2f42;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 15rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption {
  padding: 40px;
  margin-top: -10px;
  margin-bottom: 10rem;
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}
