.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  transition: 4s ease;
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
}

#hero-vid {
  display: block;
  width: 100%;
  margin: 0;
  transition: 3s ease;
}
#logo {
  width: 12rem;
}

.sm-nav {
  height: 20%;
  background-color: transparent;
}

.sb-txt {
  position: absolute;
  top: 47%;
  font-size: 1.5rem;
  font-family: "arial";
  right: 42%;
  display: inline;
}

.caption {
  text-align: left;
  padding: 2rem;
  color: black;
}
.nav-ul,
#links {
  list-style: none;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  font-size: 0.8rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: rgb(40, 40, 40);
  height: 100px;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#a-nav {
  text-decoration: none;
  color: black;
}

.nav-container {
  width: 100%;
  padding: 20px;
  z-index: 1;
  /* display: none; */
}
