.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(255, 252, 252); */
  width: 100%;
  transition: 4s ease;
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99;
}

#hero-vid {
  display: block;
  width: 100%;
  margin: 0;
  transition: 3s ease;
}
.logo {
  width: 2rem;
}

.logo:hover {
  width: 2.5rem;
}
/* 
.sm-nav {
  height: 20%;
  background-color: transparent;
}

.sb-txt {
  position: absolute;
  top: 47%;
  font-size: 1.5rem;
  font-family: "arial";
  right: 42%;
  display: inline;
}

.caption {
  text-align: left;
  padding: 2rem;
  color: black;
}
.nav-ul,
#links {
  list-style: none;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  font-size: 0.8rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: rgb(40, 40, 40);
  height: 100px;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#a-nav {
  text-decoration: none;
  color: black;
}

.nav-container {
  width: 100%;
  padding: 20px;
  z-index: 1;
  /* display: none; */

* {
  margin: 0;
  padding: 0;
}
/* body {
  height: 200vh;
  background-color: rgb(110, 110, 110);
} */

.nav-links {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  z-index: 99;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 1rem;
  color: rgb(68, 65, 65);
  font-family: "Visby-Reg";
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 800;
}

li:hover {
  color: #cb1f1f;
  cursor: pointer;
}

.navbar {
  display: none;
}
